{% extends "base.html" %}
{% block title %}ADD TASKS{% endblock %}
{% block content %}
<br>
<form method="post" class="bg-white shadow-md rounded-lg px-8 py-6 max-w-md mx-auto">

    {% csrf_token %}

    <h1 class="text-2xl font-semibold mb-4 text-center">Add Task</h1>

  {{ form.as_p }}
    <!-- Buttons (Save and Cancel) -->
    <div class="flex justify-center">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4">
            Save Task
        </button>
        <a href="{% url "home" %}" class="text-gray-600 hover:text-blue-600 font-semibold text-sm mt-2">Cancel</a>
    </div>
</form>


{% endblock  %}