{% extends "base.html" %}
{% block title %}Edit Task{% endblock %}
{% block content %}
<div class="max-w-lg mx-auto mt-8 bg-white rounded p-4">
    <h2 class="text-xl font-semibold mb-4">Edit Task</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} 
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Save Changes
        </button>
        <a href="{% url 'home'%}" class="bg-gray-300 text-gray-700 px-4 py-2 rounded hover:bg-gray-400">Cancel</a>
    </form>
</div>
{% endblock %}
